.form {
    width: 700px;
}

.searchInput{
    width: 300px;
}

.form label{
    font-weight: bold;
}

.table{
    width: 95%;
    align-content: center;
}

.row {
    vertical-align: top;
}

.col {
    width: 50%; 
    display: inline-table;
    margin-bottom: 40px;
}

.errorCol {
    width: 50%; 
    display: inline-table;
    margin-bottom: 16px;
}

.field {
    max-width: 300px;
    min-width: 200px;
}

.thead {
    position: sticky;
    top: 20px;
}

.head button {
    background-color: #04AA6D;
    color: white;
}

.head button:hover {
    background-color: #00935d;
}

.center {
    text-align: center;
}

.errorField{
    border-color: red;
    color: red;
}

.errorMessage{
    color: red;
    width: max-content;
    margin-bottom: 0px;
}