.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1350px;

  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

}

.app-wrapper-content {
    width: 1125px;
    
    min-height: 100vh;
    grid-area: c;
    background-color: rgb(246, 227, 241);
    padding: 20px;
}